---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - X-CMC_PRO_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-02-13T21:40:48.053Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 9,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "circulating_supply": 17536475,
                    "total_supply": 17536475,
                    "max_supply": 21000000,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "num_market_pairs": 6629,
                    "tags": [
                        "mineable"
                    ],
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-02-13T21:40:23.000Z",
                    "quote": {
                        "USD": {
                            "price": 3623.47492116,
                            "volume_24h": 6472176023.00693,
                            "percent_change_1h": -0.0366132,
                            "percent_change_24h": -0.811763,
                            "percent_change_7d": 6.20181,
                            "market_cap": 63542977368.04932,
                            "last_updated": "2019-02-13T21:40:23.000Z"
                        }
                    }
                },
                {
                    "id": 1027,
                    "name": "Ethereum",
                    "symbol": "ETH",
                    "slug": "ethereum",
                    "circulating_supply": 104847604.0616,
                    "total_supply": 104847604.0616,
                    "max_supply": null,
                    "date[...]
[...]
